<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enlazar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-ocre">
         @Html.ActionLink("Enlazar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="@Url.Action("Index", "Home")" class="nav-link disabled">Home</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("-Action", "-Controller")" class="nav-link disabled">Rutas</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("-Action", "-Controller")" class="nav-link disabled">Puntos de encuentro</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("-Action", "-Controller")" class="nav-link disabled">Consejos</a>

                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ListRecyclers", "Recycler")" class="nav-link">Recolectores</a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Cerrar sesión</button>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
