<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - enlazar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-ocre">
        @Html.ActionLink("enlazar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("List", "Service")" class="nav-link">Servicios</a>
                </li>
                <li class="nav-item" >
                    <a href="#" class="nav-link disabled">Puntos de encuentro</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">Consejos</a>

                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ListRecyclers", "Recycler")" class="nav-link">Recicladores</a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Cerrar sesión</button>
            </div>

        </div>
    </nav>


    <div class="container body-content mt-2">

        @RenderBody()
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<div class="footer-copyright text-center py-1 mt-5">
    <p>&copy; @DateTime.Now.Year - Enlazar App</p>
</div>

</body>
</html>
