@model Enlazar_AdminMVC.Models.Recycler

@{
    ViewBag.Title = "Crear reciclador";
}


<div class="d-flex mb-4">
    <div class="pb-lg-2 w-100">
        <h2><i class="fa fa-plus-circle pt-2 mr-2" aria-hidden="true"></i>Crear reciclador</h2>
    </div>
</div>


    <div class="card text-white bg-dark">
        <div class="card-body">
            <form class="needs-validation" novalidate method="post">
            <h5 class="card-title">Datos personales</h5>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label">N° de documento</label>

                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control flechas-out", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "error" })

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Dirección</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Partido</label>
                        @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Localidad</label>
                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <h5 class="card-title">Datos de contacto</h5>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="d-grid d-md-flex justify-content-md-end d-sm-flex justify-content-sm-end">
                <a class="btn btn-outline-primary mr-2" href="ListRecyclers">Cancelar</a>
                <button class="btn  btn-primary" type="submit">Crear Reciclador</button>
            </div>
        </form>
        </div>
    </div>

    <div class="mt-4">
        @Html.ActionLink("Volver al listado", "ListRecyclers")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
