@model IEnumerable <Enlazar.Database.User>

@{
    ViewBag.Title = "Listado de Recicladores";
}

<div class="d-flex mb-4">
    <div class="pb-lg-2 w-100">
        <h2><i class="fa fa-hands-helping pt-2 mr-2" aria-hidden="true"></i>Listado de recicladores</h2>
    </div>
    <div class="flex-shrink-1"> <a class="btn btn-primary m-2" href="Create"><i class="fa fa-plus-circle"></i>Crear nuevo</a></div>
</div>

<div class="card text-white bg-dark">
    <table class="table  table-striped table-dark table-responsive">
        <thead class="font-weight-bold text-uppercase">
            <tr class="border-bottom border-primary">
                <td width="30%">Nombre</td>
                <td>Telefono</td>
                <td>Documento</td>
                <td>Email</td>
                <td>Password</td>
                <td width="40%"></td>

            <tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.Phone</td>
                    <td>@item.Dni</td>
                    <td>@item.Email</td>
                    <td>
                        @item.Password
                    </td>


                    <td class="acciones">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
